.button{
  font-size: 25px;
  padding: 15px 20px;
  border: 1px solid ;
  border-radius: 3px;
  cursor: pointer;
}
.buttonContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
  padding: 10px;
}
